
<form action="">
  <label for="search">Search Lesson</label>
  <input type="text" name="search">
  <button>Search</button>
</form>


{{!-- {{#each searchLesson}}

  {{this.topic}}
  {{this.description}}

{{/each}} --}}

{{#if searchLesson}}
  {{searchLesson.topic}}
  {{searchLesson.description}}
{{else}}
  <p>La leccion no existe</p>
{{/if}}


